$main-font: "Inconsolata", monospace;
$headings-font: "VT323", monospace;
$main-font-color: rgb(211, 211, 211);
$faint-font-color: rgb(177, 177, 177);
$main-font-size: 2rem;
$nav-font-size: 2.4rem;
$section-margin: 35px;
$dotted-border: 0.2em dotted $main-font-color;
$box-shadow: 0px 12px 41px -15px rgba(0, 0, 0, 0.66);
