.cms {
  img.walkthrough {
    border-radius: 0.7rem;
    box-shadow: $box-shadow;
    margin-bottom: 2.5rem;
  }

  ul {
    @include left-bordered();
    border-color: $contrast-color;
    margin-bottom: 2.5rem;
  }
}
